In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import openpyxl

# 1. What is Pandas


> ไลบรารีเสริมสำหรับทำงานกับ Python เพื่อจัดการและวิเคราะห์ข้อมูลทั้งแบบมิติเดียวและหลายมิติ โดยโครงสร้างข้อมูล Pandas ประกอบไปด้วย
  1. Series
  2. DataFrame
  3. Panel

## 1.1 Series


> มีโครงสร้งคล้าย array มิติเดียว เก็บข้อมูลต่างชนิดกันได้

## 1.2 DataFrame


> มีโครงสร้าง array แบบสองมิติ คล้ายตาราง Excel สามารถนำ Series มาประกอบเป็น DataFrame ได้ นิยมใช้ใน Data Science

## 1.3 Panel


> โครงสร้างแบบสามมิติ คล้ายกับมีแผ่น DataFrame ซ้อนทับกันหลายแผ่น ซึ่งจะประกอบไปด้วย 3 แกน ดังนี้
  1. items: axis 0 = DataFrame แต่ละชั้น
  2. major_axis: axis 1 = index หรือ row ของแต่ละ DataFrame
  3. minor_axis: axis 2 = column ของแต่ละ DataFrame

# 2. การสร้างข้อมูล Series



> ไม่จำเป็นต้องสร้าง List/Tuple ก่อน สามารถสร้าง Series ได้เลย


```
pd.Series(data)
```

## 2.1 การสร้างข้อมูล Series จาก List/Tuple

In [4]:
data = ['Yok','Kannapat',22,'09/08/2002']
ps = pd.Series(data)
print(ps)

0           Yok
1      Kannapat
2            22
3    09/08/2002
dtype: object

In [5]:
ps2 = pd.Series(['walailak',32,'PEA',3.2])
ps2

0    walailak
1          32
2         PEA
3         3.2
dtype: object

## 2.2 การสร้างข้อมูล Series จาก Numpy

In [6]:
data = (2,3,5,9,4)

ndata = np.array(data)
ps = pd.Series(data)
ps

0    2
1    3
2    5
3    9
4    4
dtype: int64

In [7]:
ndata2 = np.array([2,4,5,6,7])
ps = pd.Series(ndata2)
ps

0    2
1    4
2    5
3    6
4    7
dtype: int64

## 2.3 การสร้างข้อมูล Series แบบกำหนด Index


> โดยปกติแล้ว index จะมีค่าเป็น 0,1,2,3.... แต่สามารถกำหนดให้เป็นค่าอื่นได้


```
pd.Series(data, index)
```

In [8]:
data = [6,7,8,9,10]
ind = ['a','b','c','d','e']

ps = pd.Series(data, index = ind)
ps

a     6
b     7
c     8
d     9
e    10
dtype: int64

## 2.4 การสร้างข้อมูล Series ด้วย Dictionary

In [9]:
data = {'A':1,'B':2,'C':3,'D':4,'E':5}

ps = pd.Series(data)
ps

A    1
B    2
C    3
D    4
E    5
dtype: int64

## 2.5 การเข้าถึงข้อมูล


> การเรียกดูข้อมูลมี 2 วิธี ดังนี้
  1. อ้างอิงเลขลำดับ index
  2. อ้างอิงชื่อ index

In [10]:
ps['A']

1

In [11]:
ps[0]

/var/folders/t_/jn_jfq493vvfc4wcl74yljbh0000gn/T/ipykernel_27073/1694939130.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ps[0]

1

In [12]:
ps[-1]

/var/folders/t_/jn_jfq493vvfc4wcl74yljbh0000gn/T/ipykernel_27073/1432103231.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ps[-1]

5

## 2.6 การเข้าถึงช่วงข้อมูล (Slicing)


```
series[index1 : index2]
```

> การนำข้อมูลออกมาเป็นช่วง(range) **สำคัญมากต้องจำ**


  ```
  x[index1 : index2]
  ```


  ```
  x[:] #เอาทั้งหมด
  ```


  ```
  x[:index] #ตั้งแต่แรกไปถึง index ที่ระบุ
  ```


  ```
  x[index:] #ตั้งแต่ index ที่ระบุไปจนจบ
  ```

In [13]:
ps[:]

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [14]:
ps[2:]

C    3
D    4
E    5
dtype: int64

In [15]:
ps[:2]

A    1
B    2
dtype: int64

In [16]:
ps[1:3]

B    2
C    3
dtype: int64

# 3. การสร้างข้อมูล DataFrame


```
pd.DataFrame(data)
```

##3.1 การสร้างข้อมูล DataFrame จาก List/Tuple

### 3.1.1 การสร้างแบบมิติเดียว



```
# การกำหนดชื่อ Column
columns = ['Name']
```


```
# การเรียกใช้ชื่อ Columns
columns = columnsName
```

In [17]:
#โครงสร้างแบบคอลัมน์เดียว ไม่ได้กำหนดชื่อ DataFrame (ซึ่งจะเป็น 0)
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [18]:
data = [1,2,3,4,5]
col = ['Number']

df = pd.DataFrame(data, columns = col)
df

   Number
0       1
1       2
2       3
3       4
4       5

### 3.1.2 การสร้างแบบเมตริกซ์

In [19]:
data = [[1,2,3,4,5],
        [6,7,8,9,10],
        [11,12,13,14,15],
        [16,17,18,19,20]]
col = ['Num01','Num02','Num03','Num04','Num05']

df = pd.DataFrame(data, columns = col)
df

   Num01  Num02  Num03  Num04  Num05
0      1      2      3      4      5
1      6      7      8      9     10
2     11     12     13     14     15
3     16     17     18     19     20

### 3.1.3 การสร้างจาก List/Tuple ที่เป็นเมตริกซ์


> โดยปกติ DataFrame จะแสดง index ที่ column แรก แต่สามารถกำหนด index ใหม่ได้ โดย


```
df.set_index(['columnName'], inplace = True)
```

In [20]:
data = [['a',21,100],
        ['b',20,98],
        ['c',22,95],
        ['d',19,100],
        ['e',21,93]]
col = ['Name','Age','Score']

df = pd.DataFrame(data, columns = col)
df

  Name  Age  Score
0    a   21    100
1    b   20     98
2    c   22     95
3    d   19    100
4    e   21     93

In [21]:
df.set_index(['Name'], inplace = True)
df

      Age  Score
Name
a      21    100
b      20     98
c      22     95
d      19    100
e      21     93

### 3.1.4 การสร้างจาก List โดยใช้ Zip


> บางข้อมูลอาจมี List หลายตัว เช่น อายุ เพศ คะแนน ต้องการรวม List ให้เป็น DataFrame โดยการใช้ zip



```
list(zip(listName))
```

In [22]:
l1 = ['A','B','C']
l2 = [20,43,34]

data = list(zip(l1, l2))
col = ['Name','Score']

df = pd.DataFrame(data, columns = col)
df

  Name  Score
0    A     20
1    B     43
2    C     34

## 3.2 การสร้าง DataFrame จาก Dictionary


> ความแตกต่างระหว่าง List/Tuple และ Dictionary คือมันจะกำหนดชื่อ Column เองเลย

In [23]:
data = [{'Name':'a', 'Age': 21, 'Score': 100},
        {'Name':'b', 'Age': 20, 'Score': 98},
        {'Name':'c', 'Age': 19, 'Score': 95},
        {'Name':'d', 'Age': 22, 'Score': 92},
        {'Name':'e', 'Age': 21, 'Score': 100}]

df = pd.DataFrame(data)
df

  Name  Age  Score
0    a   21    100
1    b   20     98
2    c   19     95
3    d   22     92
4    e   21    100

## 3.3 การสร้าง DataFrame จาก Series


> หากมีข้อมูล Series อยู่แล้ว สามารถนำมาสร้างเป็น DataFrame ได้เลย โดยการใช้ Dictionary กำหนดชื่อ column

In [24]:
name = ['a','b','c','d','e']
age = [16,17,16,15,17]
score = [100,98,97,100,94]

col = ['Name','Age','Score']

name_series = pd.Series(name)
age_series = pd.Series(age)
score_series = pd.Series(score)

frame = {'Name':name_series, 'Age':age_series, 'Score':score_series}

df = pd.DataFrame(frame)
df

  Name  Age  Score
0    a   16    100
1    b   17     98
2    c   16     97
3    d   15    100
4    e   17     94

### 3.3.1 การสร้างข้อมูลจาก Series ที่มี column เดียว


```
DataFrame = data_series.to_frame()
```

In [58]:
name_series = pd.Series(name) # ข้อมูล name จากข้อ 3.3

df = name_series.to_frame()
df = name_series.to_frame(name = 'Student Name')

df

  Student Name
0            a
1            b
2            c
3            d
4            e

# 4. การอ่านและบันทึกไฟล์ข้อมูล


> ข้อมูลที่นำมาใช้งานกับ Data Science ส่วนใหญ่จะเป็นรูปแบบไฟล์ เช่น ฐานข้อมูล, Excel, CSV

## 4.1 การบันทึก DataFrame เป็นไฟล์ CSV



> ไฟล์ CSV เป็นไฟล์แบบ Text ที่คั่นด้วย ( , ) โดยจะต้องใช้คำสั่ง


```
FilePath = 'Filename' # คำสั่งชื่อหรือ path สามารถกำหนดได้ เช่น data/testpd01.csv
DataFrame.to_csv(parameters)
```


> Parameters ประกอบด้วย
  * header ( True/False )
    * ระบุว่าต้องการบันทึกชื่อ column หรือไม่
  * index ( True/False )
    * ระบุว่าต้องการบันทึกเลข index ( column แรก ) ซึ่งตามปกติจะบันทึกถ้าเราไม่กำหนด ( True )
  * index_label ( String )
    * บันทึกชื่อคอลัมน์ของ index ในกรณีที่บันทึก index

In [26]:
data = [{'Name':'a', 'Age': 21, 'Score': 100},
        {'Name':'b', 'Age': 20, 'Score': 98},
        {'Name':'c', 'Age': 19, 'Score': 95},
        {'Name':'d', 'Age': 22, 'Score': 92},
        {'Name':'e', 'Age': 21, 'Score': 100}]

df = pd.DataFrame(data)

In [27]:
# บันทึกทั้งหมด แต่ไม่มี index_label

FilePath = 'testpd01.csv'
df.to_csv(FilePath)

,Name,Age,Score

0,a,21,100

1,b,20,98

2,c,19,95

3,d,22,92

4,e,21,100

In [28]:
# บันทึกทั้งหมด และกำหนด index_label

FilePath = 'testpd02.csv'
df.to_csv(FilePath, index_label = 'id')

id,Name,Age,Score

0,a,21,100

1,b,20,98

2,c,19,95

3,d,22,92

4,e,21,100

In [29]:
# ไม่บันทึก index

FilePath = 'testpd03.csv'
df.to_csv(FilePath, index = False)

Name,Age,Score

a,21,100

b,20,98

c,19,95

d,22,92

e,21,100

In [30]:
# ไม่บันทึก Header

FilePath = 'testpd04.csv'
df.to_csv(FilePath, header = False)

0,a,21,100

1,b,20,98

2,c,19,95

3,d,22,92

4,e,21,100

# 5. การบันทึกไฟล์ Excel



> ต้องติดตั้งโมดูล openpyxl ก่อนเสมอ และใช้คำสั่ง


```
DataFrame.to_excel(writer, parameters) # writer คือตัวเขียน
```

In [31]:
FilePath = 'exceltest01.xlsx'
writer = pd.ExcelWriter(FilePath)

df.to_excel(writer, 'Sheet01', index = False)
writer.close()

/var/folders/t_/jn_jfq493vvfc4wcl74yljbh0000gn/T/ipykernel_27073/2074397343.py:4: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df.to_excel(writer, 'Sheet01', index = False)

##5.1 การอ่านไฟล์ Excel ทั้งหมด(ทุกคอลัมน์)

In [32]:
uri = 'exceltest01.xlsx'
df = pd.read_excel(uri)
df

  Name  Age  Score
0    a   21    100
1    b   20     98
2    c   19     95
3    d   22     92
4    e   21    100

##5.2 การกำหนดตัวเลือกการอ่านไฟล์ Excel


> กรณีที่อ่านข้อมูลบางส่วน สามารถกำหนดค่าต่างๆได้ดังนี้
  * header ( integer )
    * ระบุว่าข้ามข้อมูลส่วนที่เป็น header กี่แถว
  * usecols ( List หรือ String )
    * ระบุว่าต้องการ column ใดบ้าง
  * names ( List )
    * การตั้งชื่อ column ใหม่
  * index_col ( String)
    * ระบุว่า column ไหนเป็น index
  * sheet name (String)
    * ระบุ worksheet ที่ต้องการ
  * skiprows ( List, Integer )
    * ระบุว่าข้ามแถวไหนบ้าง
  * nrows ( integer )
    * ระบุว่าอ่านกี่แถว

## 5.3 การอ่าน Excel บาง Column และข้าม Header


```
df.loc['ColumnName']
```

In [33]:
uri = 'exceltest01.xlsx'
col = 'b:c'
df = pd.read_excel(uri, sheet_name = 'Sheet01', usecols = col, header = 2)
df.head()

   20   98
0  19   95
1  22   92
2  21  100

In [34]:
uri = 'exceltest01.xlsx'
col = 'a:c'
df = pd.read_excel(uri, sheet_name = 'Sheet01', usecols = col, index_col = 'Name', header = 0)
df.head()

      Age  Score
Name
a      21    100
b      20     98
c      19     95
d      22     92
e      21    100

In [35]:
df.loc['b']

Age      20
Score    98
Name: b, dtype: int64

In [36]:
df.loc['e']['Score']

100

In [37]:
df.sort_index()

      Age  Score
Name
a      21    100
b      20     98
c      19     95
d      22     92
e      21    100

## 5.4 การตั้งชื่อคอลัมน์ใหม่


> สามารถเปลี่ยนชื่อ column ตามที่เราต้องการได้ แต่จะต้องกำหนดจำนวนเท่าจำนวน column เดิม และเมื่อเปลี่ยนแล้วให้เรียกอ่านตามชื่อที่อ้างอิง

In [38]:
uri = 'exceltest01.xlsx'
newcol = ['Student','Sec','Number']
df = pd.read_excel(uri, names = newcol, index_col ='Student')
df.head()

         Sec  Number
Student
a         21     100
b         20      98
c         19      95
d         22      92
e         21     100

In [39]:
df.loc['c']

Sec       19
Number    95
Name: c, dtype: int64

In [40]:
df.Number['e']

100

In [41]:
df.Sec

Student
a    21
b    20
c    19
d    22
e    21
Name: Sec, dtype: int64

## 5.5 การอ่านไฟล์ Excel ไม่มีหัว Column

In [42]:
uri = 'exceltest01.xlsx'
newcol = ['Student','Section','Score']
df = pd.read_excel(uri, header = None , names = newcol)
df.head()

  Student Section  Score
0    Name     Age  Score
1       a      21    100
2       b      20     98
3       c      19     95
4       d      22     92

# 6. อ่านไฟล์ CSV


```
pd.read_csv(file)
หรือ
pd.read_csv(file, encoding = 'utf-8')
```

In [43]:
uri = 'testpd04.csv'
df = pd.read_csv(uri)
df.head()

   0  a  21  100
0  1  b  20   98
1  2  c  19   95
2  3  d  22   92
3  4  e  21  100

## 6.1 การอ่านไฟล์ CSV บาง Column บาง Row

## 6.2 การอ่านไฟล์ CSV ไม่มี Header

# 7. การตรวจสอบข้อมูลเบื้องต้น


> หลังจากได้ข้อมูล DataFrame มาแล้วจะต้องมีการตรวจสอบดูข้อมูล ด้วยคำสั่ง ดังนี้


```
DataFrame.head() # จะอ่าน 5 แถวแรก แต่สามารถระบุได้เช่น df.head(10) จะอ่านสิบแถวแรก
```

```
DataFrame.tail() # จะอ่าน 5 แถวสุดท้าย
```

```
DataFrame.sample(n) # สุ่มข้อมูลจำนวน n แถว หากไม่ระบุจะอ่านแค่ 1 แถว
```

```
DataFrame.describe() # ดูค่าสถิติเบื้องต้น
```

```
DataFrame.shape # สำหรับนับจำนวน จะได้ค่า (Row, Column)
```

```
DataFrame.index # อ่านค่าช่วง index
```

```
DataFrame.columns # ตรวจสอบว่าข้อมูลมี Column อะไรบ้าง
```

```
DataFrame.values # อ่านข้อมูลในรูปแบบ Array
```

```
DataFrame.dtypes # วิธีตรวจสอบชนิดข้อมูล
```

In [44]:
#ชนิดข้อมูลของ Pandas และ Numpy

pdt = ['Object','int64','float64','Bool','datatime64','timedelta[ns]','category']
ptt = ['str','int','float','bool','NA','NA','NA']
npt = ['string_, unicode_','int_, int8, int16, int32, int64, uint8, uint16, uint32, uint64','float_, float16, float32, float64','bool_','datetime64[ns]','NA','NA']
u = ['String หรือรวม','integer','float','boolean (True/False)','Date time values','ค่าแตกต่างระหว่าง datetime','List ของ Text ข้อความ']

col = ['Pandas dtype','Python type','Numpy type','Use For']

npdt = pd.Series(pdt)
nptt = pd.Series(ptt)
nnpt = pd.Series(npt)
nu = pd.Series(u)

frame = {'Pandas dtype': npdt ,'Python type': nptt ,'Numpy type' : nnpt ,'Use For' : nu}

df = pd.DataFrame(frame)
df

,Pandas dtype,Python type,Numpy type,Use For
0,Object,str,"string_, unicode_",String หรือรวม
1,int64,int,"int_, int8, int16, int32, int64, uint8, uint16...",integer
2,float64,float,"float_, float16, float32, float64",float
3,Bool,bool,bool_,boolean (True/False)
4,datatime64,NA,datetime64[ns],Date time values
5,timedelta[ns],NA,NA,ค่าแตกต่างระหว่าง datetime
6,category,NA,NA,List ของ Text ข้อความ

In [59]:
data = [{'Name':'a', 'Age': 21, 'Score': 100},
        {'Name':'b', 'Age': 20, 'Score': 98},
        {'Name':'c', 'Age': 19, 'Score': 95},
        {'Name':'d', 'Age': 22, 'Score': 92},
        {'Name':'e', 'Age': 21, 'Score': 100}]

df = pd.DataFrame(data)

In [46]:
df.dtypes

Name     object
Age       int64
Score     int64
dtype: object

In [47]:
df.describe()

             Age       Score
count   5.000000    5.000000
mean   20.600000   97.000000
std     1.140175    3.464102
min    19.000000   92.000000
25%    20.000000   95.000000
50%    21.000000   98.000000
75%    21.000000  100.000000
max    22.000000  100.000000

In [48]:
df.Age.mean()

20.6

In [49]:
df.Score.mean()

97.0

In [50]:
df.shape

(5, 3)

In [51]:
df.columns

Index(['Name', 'Age', 'Score'], dtype='object')

In [52]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [53]:
df.values

array([['a', 21, 100],
       ['b', 20, 98],
       ['c', 19, 95],
       ['d', 22, 92],
       ['e', 21, 100]], dtype=object)

# 8. การเปลี่ยนชนิดข้อมูลคอลัมน์

In [54]:
uri = 'exceltest01.xlsx'
df = pd.read_excel(uri)
df.dtypes

Name     object
Age       int64
Score     int64
dtype: object

In [55]:
uri = 'exceltest01.xlsx'
df = pd.read_excel(uri, dtype = {'Score':float})
df.dtypes

Name      object
Age        int64
Score    float64
dtype: object

In [56]:
# เปลี่ยนเป็น Category

uri = 'exceltest01.xlsx'
df = pd.read_excel(uri)
df.Name = df.Name.astype('category')
df.dtypes

Name     category
Age         int64
Score       int64
dtype: object

# การบันทึก excel เป็น csv บาง column


```
pd.read_excel(file)
df.to_csv(Newfile, parameters)
```

In [57]:
uri = 'exceltest01.xlsx'

df = pd.read_excel(uri)
col =['Name','Age']
df.to_csv('test_ex_to_csv.csv', index = False, columns = col)

Name,Age

a,21

b,20

c,19

d,22

e,21